/*  your css code here. If applicable */
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.line{
    width: 50px;
    height: 3px;
    margin: 0;
    padding: 0;
}
.main-container{
    width: 50%;
    height: 15%;
    margin-inline: auto;
    margin-top: 15%;
}

.main-container,.container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height:35px;
    width:35px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border: 2px solid transparent;
    
}
.circle_inner{
    height:90%;
    width:90%;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    padding: 0;
    border-color: transparent;
    color:rgb(159, 157, 157);
    font-weight: 500;
}
.btn{
    margin: 30px;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-weight: 400;
    background-color: rgb(72, 157, 237);
}
.active{
    background-color: rgb(72, 157, 237);
}